.deg-sec-wives-section {
    background: var(--main-color-one);
}

.deg-sec-wives-section .top-section .image-section {
    position: relative;
    gap: 1rem;
    display: flex;
}

.deg-sec-wives-section .main-heading {
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
    /* top: -30px; */
    /* background: var(--main-color-one); */
    /* padding: 10px; */
    /* border-radius: 0 0 20px 20px; */
    /* width: 80%; */
    /* text-align: center; */
    /* z-index: 1; */
}

.deg-sec-wives-section .main-heading h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: "headingbold" !important;
}

.deg-sec-wives-section .top-section .image {
    width: 50%;
    margin-bottom: 2rem;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.deg-sec-wives-section .top-section .image .bottom-text{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--theme-color-gradiant);
    padding: 1rem;
    text-align: center;
    color: var(--white-color);
}
.deg-sec-wives-section .top-section .image h5 {
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: "bodyfontbold" !important;
}

.deg-sec-wives-section .top-section .image img {
    width: 100%;
    border-radius: 20px;
}

.deg-sec-wives-section .bottom-section {
    margin-top: 2rem;
    position: relative;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
}

.deg-sec-wives-section .bottom-section .content {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1rem;
    background: var(--theme-color-gradiant);
    color: var(--white-color);
}

.deg-sec-wives-section .bottom-section img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.deg-sec-wives-section .top-heading {
    text-align: center;
    margin-bottom: 2rem;
}

.deg-sec-wives-section .top-heading h3 {
    text-transform: uppercase;
    font-family: "bodyfontbold" !important;
    color: var(--theme-color);
}

.deg-sec-wives-section .personal-card {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.deg-sec-wives-section .personal-card:last-child {
    margin-bottom: 0;
}

.deg-sec-wives-section .personal-card .image {
    width: 65%;
}

.deg-sec-wives-section .personal-card .image img {
    width: 100%;
    border-radius: 20px;
    height: 150px;
    border: 2px solid var(--theme-color);
}

.deg-sec-wives-section .personal-card .content h4 {
    text-transform: uppercase;
    font-family: "bodyfontbold" !important;
    color: var(--theme-color);
}
.deg-sec-wives-section .theme-btn{
    padding: 8px 30px;
    border: 2px solid var(--theme-color);
    color: var(--theme-color) !important;
    border-radius: 30px;
    font-size: 1.2rem;
    transition: .3s all;
    display: inline-block;
    font-weight: bolder;
}