.home-banner .count-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.home-banner .count-card:last-child {
    margin-bottom: 0;
}

.home-banner .count-card p {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    font-family: "headingbold" !important;
    color: var(--theme-color);
}

.home-banner .count-card span {
    font-size: 1.3rem;
    text-decoration: underline;
    /* text-decoration-color: #636669; */
    text-underline-offset: 10px;
    color: var(--font-dark);
    letter-spacing: 2px;
    font-weight: bolder;
}

.home-banner .banner-section {
    position: relative;
    /* height: 100%; */
}

.home-banner .banner-section .mySwiper {
    height: 100%;
}

.home-banner .banner-section .mySwiper img {
    width: 100%;
    height: 500px;
    border-radius: 20px;
}

.home-banner .banner-section .mySwiper .swiper-pagination-bullet-active {
    background-color: var(--white-color) !important;
}

.home-banner .banner-section .banner-btn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    /* padding: 20px; */
    /* padding-bottom: 25px; */
    padding-left: 0;
    /* border-radius: 0 0 20px 0; */
    /* background: var(--white-color); */
}

.home-banner .banner-section .banner-btn img {
    width: 255px !important;
    margin-left: -1px;
    /* object-fit: contain; */
    /* position: absolute;
    top: 0;
    left: 0; */
    /* z-index: 0; */
}

.home-banner .banner-section .banner-btn a {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 10px 15px !important;
    background-color: var(--theme-color);
    color: var(--white-color) !important;
    text-transform: capitalize;
    font-family: "bodyfont" !important;
    font-weight: bolder;
    letter-spacing: 1px;
    border-radius: 40px !important;
    border: 2px solid var(--theme-color);
    transition: .3s;
}

.home-banner .banner-section .banner-btn a:hover {
    background: var(--white-color);
    color: var(--theme-color) !important;
}

.home-banner .banner-section .banner-btn a svg {
    transform: rotate(-40deg) translateY(-3px);
    font-weight: normal;
}

.home-banner .banner-section .bottom-three-circle {
    position: absolute;
    bottom: -28px;
    right: 2rem;
    /* transform: translateY(50%); */
    z-index: 9;
    display: flex;
    gap: 0 1.2rem;
}

.home-banner .banner-section .bottom-three-circle p {
    height: 60px;
    width: 60px;
    padding: 10px;
    font-weight: 600;
    font-size: .9rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s all;
    background: var(--theme-color);
    border: 2px solid var(--white-color);
}
.home-banner .banner-section .bottom-three-circle p img{
    filter: brightness(0) invert(1);
}

.home-banner .banner-section .bottom-three-circle p:hover {
    /* border: 2px solid var(--theme-color); */
    background-color: var(--white-color);
}

.home-banner .banner-section .bottom-three-circle p:hover img {
    filter: none;
}