.vision-section .left-section img {
    border-radius: 20px;
    height: 450px;
}

.vision-section .right-section .magazine-card {
    display: flex;
    /* margin-bottom: 10px; */
}

.vision-section .right-section .magazine-card .image {
    width: 40%;
    aspect-ratio: 1/1;
    height: auto;
    margin-right: 1rem;
}

.vision-section .right-section .magazine-card .image img {
    border-radius: 20px;
}

.vision-section .right-section .magazine-card .content span {
    font-size: .9rem;
    color: #636669;
}

.vision-section .right-section .magazine-card .content p {
    font-size: 1.3rem;
}