.main-navbar-box {
    background-color: var(--main-color-one);
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* margin-bottom: 2rem; */
}

.main-navbar {
    text-transform: uppercase;
}

.main-navbar a {
    font-family: "heading" !important;
    font-weight: 600 !important;
    transition: .3s all;
    letter-spacing: 2px;
    color: #3E3D3D !important;
}
.main-navbar a:hover{
    color: var(--theme-color) !important;
    text-decoration: underline !important;
}

.main-navbar .navbar-brand {
    width: 100px;
    margin-right: 7rem;
}

.main-navbar .side-drawer {
    width: 30px;
    margin-right: .6rem;
    cursor: pointer;
    /* margin-top: -5px; */
}

.main-navbar .theme-btn {
    padding: 0px 8px !important;
    border: 1px solid var(--theme-color) !important;
    color: var(--theme-color) !important;
    border-radius: 20px !important;
    transition: .3s;
    text-decoration: none !important;
}


.main-navbar .login-dropdown .ant-space-item {
    cursor: pointer;
    background: var(--main-color-two);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.main-navbar .theme-btn:hover,
.main-navbar .login-dropdown .ant-space-item:hover {
    background: var(--theme-color) !important;
    color: var(--white-color) !important;
    text-decoration: none !important;
}