.about-section::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
    /* transform: translateY(-50%); */
    width: 100%;
    /* height: 84%; */
    height: 83%;
    background: #ECEBEB;
    z-index: -1;
}

.about-section .left-section{
    margin-left: -5.7rem;
}
.about-section .left-section img {
    width:100%;
    /* height: 70%; */
    border-radius: 10px;
    margin-bottom: -4rem;

}

.about-section .left-section>img {
    /* height: 500px; */
    /* width: 100vw; */
    height: 82vh;
    object-fit: fill;
    object-fit: contain;
    object-position: center;
    margin-top: -0.2rem;
    border-radius: 10px;
     
}

.about-section .left-section .content {
    /* background: var(--main-color-two); */
    width: 54%;
    margin: 0 auto;
    border-radius: 20px;
    /* transform: translateY(-80px); */
    transform: translateY(-62px);
    position: relative;
}

.about-section .left-section .content .inner-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px;
    /* padding-bottom: 4rem; */
    text-align: center;
    height: 500px;
    /* width: 200px; */
     
}

.about-section .left-section .content .inner-content h2 {
    font-size: 1.7rem;
}

.about-section .left-section .content .inner-content p {
    /* font-size: .9rem; */
    font-size: .7rem;
    font-weight: bold;
    width: 95%;
    
    margin: 0 auto;
    margin-top: 0.5rem;
}

.about-section .left-section .content .learn-more-btn {
    position: absolute;
    bottom: -75px;
    left: 50%;
    transform: translateX(-50%);
    /* background: var(--white-color); */   
    /* padding: 10px; */
    /* padding-top: 20px;
    border-radius: 20px 20px 0 0; */
}

.about-section .left-section .content .learn-more-btn a {
    padding: 10px 35px;
    font-weight: 500;
    background: var(--theme-color);
    color: var(--white-color) !important;
    text-align: center;
    border-radius: 20px;
}

.about-section .about-section-swiper .swiper-slide,
.about-section .about-section-swiper img {
    border-radius: 10px !important;
    width: 100%;
    height: 90%;
    cursor: pointer;
    background: transparent !important;
    object-fit: cover;
}

.about-section .about-section-swiper .swiper-slide {
    text-align: center;
}

.about-section .about-section-swiper .mySwiper2 img {
    width: 100%;
    height:53vh;
    /* padding: 10px; */
    object-fit: contain;
    transform: rotate(-5deg);
    margin: 0 auto;
}

.about-section .about-section-swiper .mySwiper2 {
    height: 443px !important;
    border-radius: 25px;
    /* margin-bottom: 1.5rem; */
    /* padding-bottom: 1rem; */
}

.about-section .about-section-swiper .mySwiper {
    height: 120px;
    padding-bottom: 1.5rem;
    
   
}
.about-section .about-section-swiper .mySwiper img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about-section .about-section-swiper .mySwiper {
    
    /* margin: 0 2rem; */
}

.about-section .about-section-swiper .mySwiper .swiper-pagination-bullet-active {
    background: var(--theme-color) !important;
}

.about-section .about-section-swiper p {
    color: var(--theme-color);
    font-weight: bolder;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.2rem;
    line-height: 1;
    margin-top: -10px;
}

.about-section .about-section-swiper p span {
    font-size: 3rem;
}

.about-section .about-section-swiper .about-swiper-top .swiper-slide {
    padding: 1rem;
}

@media (min-width:992px) {
    .about-section .left-section {
        padding-right: 5rem;
    }
}

@media (max-width:992px) {
    .about-section .left-section .content {
        width: 90%;
    }

    .about-section .left-section .bg-shape {
        height: 400px;
    }

    .about-section .left-section .content .inner-content p {
        /* display: none; */
        /* font-size: .5rem; */
    }

    .about-section .left-section .content .learn-more-btn {
        width: 90%;
        text-align: center;
        font-size: .7rem;
        bottom: 0;
    }

    .about-section.position-relative {
        padding-top: 20px;
        margin-bottom: 4rem;
    }

    .about-section .about-section-swiper .mySwiper2,
    .about-section .about-section-swiper .swiper-slide,
    .about-section .about-section-swiper img {
        height: auto !important;
    }

    .about-section::before {
        height: 96%;
        top: 30px;
    }

}