.top-section-section .content {
    position: absolute;
    top: 0;
    left: 1rem;
    padding: 1rem;
}
.top-section-section .content h2{
    font-size: 3rem;
}
.top-section-section img{
    border-radius: 20px;
    width: 100%;
    height: 500px;
}