.contact-us-form .main-heading h2 {
    font-family: "headingbold" !important;
}

.contact-us-form b {
    font-size: 1.8rem;
    text-transform: capitalize;
    font-family: "bodyfontbold" !important;
}

.contact-us-form .contact-links {
    border-right: 2px solid var(--black-color);
    height: 71vh;
}

.contact-us-form .contact-links .box {
    margin-bottom: 3rem;
}

.contact-us-form .contact-links .box p {
    font-size: 1.8rem;
    font-family: "bodyfontbold" !important;
    /* margin-bottom: 1rem !important; */
    text-transform: uppercase;
}
.contact-us-form .contact-links .box a{
    font-size: 1.4rem;
}

.contact-us-form .conact-form {
    display: flex;
    flex-direction: column;
    margin-bottom: -1rem;
     
}

.contact-us-form .conact-form input {
    height: 71px;
    
}
.contact-us-form .conact-form textarea{
     padding: 25rem;
     height: 29vh;
     
}

.contact-us-form .conact-form input,
.contact-us-form .conact-form textarea {
    border: none;
    outline: none;
    margin-bottom: 2rem;
    padding: 2rem;
    /* padding: 1.5rem 1rem 10px; */
    background: var(--main-color-one);
    position: relative;
}


.contact-us-form .conact-form input::placeholder,
.contact-us-form .conact-form textarea::placeholder {
    color: var(--black-color);
    position: absolute;
    bottom: 10px;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 1.1rem;
}

.contact-us-form .conact-form button {
    /* padding: 8px 25px;
    background: var(--main-color-two);
    border-radius: 20px;
    text-transform: capitalize;
    font-weight: bold;
    display: inline-block;
    width: auto;
    border: none;
    outline: none; */
}



.contact-call-section {
    background: var(--main-color-one);
    margin-bottom: 6rem;
    position: relative;
    top: 12vh;
    padding: 50px !important;
    /* height: 15vh; */
    
}

.contact-call-section a {


    padding: 8px 30px;
    background: var(--main-color-two);
    border-radius: 40px;
    text-transform: capitalize;
    font-weight: bold;
    display: inline-block;
}

.contact-call-section p {
    font-size: 2rem;
    font-style: italic;
}
.contact-links .sm-links {
    display: flex;
    gap: 1rem;
    /* margin-top: 1rem; */
}
@media (max-width:992px) {
    .contact-us-form .contact-links{
        border-right: 0;
        border-bottom: 2px solid var(--black-color);
        margin-bottom: 3rem;
    }
    .contact-call-section .d-flex{
        justify-content: center;
    }
    .contact-call-section p{
        font-size: 1.5rem;
        text-align: center;
        margin-top: 2rem;
    }
}