.dsa-articles-section {
    background: var(--main-color-one);
    margin-top: 40px;
}
.dsa-articles-section .left-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.dsa-articles-section .left-section .main-heading h2{
font-family: "headingbold" !important;
}

.dsa-articles-section .left-section .top-section b {
    font-family: "bodyfontbold" !important;
}

.dsa-articles-section .left-section .top-section a {
    padding: 8px 30px;
    border-radius: 20px;
    color: var(--white-color) !important;
    margin-top: 1rem;
    display: inline-block;
    background: var(--black-color);
}

.dsa-articles-section .left-section .bottom-section {
    text-align: right;
}

.dsa-articles-section .left-section .bottom-section h2 {
    font-size: 3rem;
    font-family: "headingbold" !important;
    text-transform: uppercase;
    margin-bottom: 1rem !important;
}

.dsa-articles-section .image {
    height: 100%;
}

.dsa-articles-section .image img {
    border-radius: 20px;
    width: 100%;
}