.home-header {
    background-color: var(--main-color-one);
    padding-bottom: 1rem;
    /* margin-top: 2rem; */
}

.home-header .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* margin-top: 1rem; */
}

.home-header .content .left-content {
    display: flex;
    flex-direction: column;
    margin-left: -4px;
    width: 90%;
}

.home-header .content .left-content .name {
    font-size: 6rem;
    letter-spacing: 7px;
    text-transform: uppercase;
    /* font-weight: bolder; */
    line-height: 1;
    font-family: "headingbold" !important;
    color: #3E3D3D !important;
}
.home-header .content .left-content .name span{
    font-family: "bodyfontbold" !important;
}

.home-header .content .logo {
    width: 120px;
    margin-right: 1rem;
    margin-bottom: 3px;
}
.home-header .content .logo img{
    border-radius: 5px;
}

.home-header .content .left-content h1 {
    font-size: 2rem;
    font-weight: 100 !important;
    opacity: .7;
    margin-left: 1rem;
    font-family: "bodyfont"!important;
    letter-spacing: 5px;
}

.home-header .content .right-sm-links ul li a {
    background: var(--main-color-two);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}