.about-gallery-section .top-heading p{
    font-family: "Beau Rivage", cursive !important;
    font-size: 2rem;
    color: var(--black-color);
    text-transform: capitalize;
}

.about-gallery-section .main-heading h2{
    font-family: "headingbold" !important;
    font-size: 3rem;
    color: var(--theme-color);
}
.about-gallery-section .main-heading p{
    text-transform: initial !important;
    width: 50%;
    margin: 0 auto;
}
.about-gallery-section .mySwiper img{
    width: 100%;
    height: 318px;
    object-fit: cover;
    margin-bottom: 1.5rem;
}
@media (max-width:992px) {
    .about-gallery-section {
        padding-bottom: 0;
    }
    .about-gallery-section .main-heading p{
        width: 100%;
    }
    .about-gallery-section .main-heading h2{
        font-size: 1.5rem;
    }
    .about-gallery-section .top-heading p{
        font-size: 1.2rem;
    }
    .about-gallery-section .swiper-backface-hidden .swiper-slide{
        margin: 0;
    }
    /* .about-gallery-section .mySwiper .col-4,
    .about-gallery-section .mySwiper .col-8{
        padding: 5px;
    } */
    .about-gallery-section .mySwiper img{
        height: auto;
        /* margin-bottom: 10px; */
    }
}