.testimonial-section .bg-img {
    position: absolute;
    bottom: 0;
    left: 0;
}

.testimonial-section .heading-box a {
    padding: 10px 20px;
    /* background: var(--white-two); */
    border-radius: 40px;
    border: 2px solid var(--theme-color);
    color: var(--theme-color) !important;
}

.testimonial-section .testimonial-card {
    background: var(--main-color-one);
    padding: 1rem;
    border-radius: 20px;
    display: flex;
}

.testimonial-section .testimonial-card .image {
    width: 250px;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
}

.testimonial-section .testimonial-card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 15px solid var(--theme-color);
    border-radius: 50%;
}

.testimonial-section .testimonial-card .content {
    padding: 0 1rem;
}

.testimonial-section .testimonial-card .content p {
    font-size: 1rem;
}

.testimonial-section .testimonial-card .content .name {
    font-weight: bold;
    font-family: "bodyfontbold" !important;
    color: var(--theme-color);
}

.testimonial-section .testimonial-card .content .review {
    margin-top: 10px;
}

.testimonial-section .testimonial-card .content ul {
    display: flex;
}

.testimonial-section .testimonial-card .content ul li {
    color: var(--theme-color);
}

@media (max-width:992px) {
    .testimonial-section .heading-box a {
        /* padding: 5px 10px; */
        align-self: flex-end;
        margin-top: 1rem;
        display: inline-block;
    }
    .testimonial-section .testimonial-card{
        flex-direction: column;
        align-items: center;
    }
    .testimonial-section .testimonial-card .image{
        width: 150px;
        margin-right: 0;
        margin-bottom: 1rem;
    }
}