.add-banner {
    width: 100%;
    height: 80vh;
}

.add-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width:992px) {
    .add-banner{
        height: 60vh;
    }
}