.about-dsa-section .dsa-card {
    padding: 1rem;
    border-radius: 20px;
    background: var(--main-color-two);
     
    /* display: flex; */
    position: relative;
    height: 100%;
}

.about-dsa-section .dsa-card .box {
    display: flex;
    align-items: center;
    /* margin-top: 1rem; */
    justify-content: center;
}

.about-dsa-section .dsa-card .count {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    position: absolute;
    transform: translateY(-2.9rem);
}

.about-dsa-section .dsa-card .image {
    border-radius: 15px;
    overflow: hidden;
    width: 40%;
    aspect-ratio: 1/1;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color-one);
}

.about-dsa-section .dsa-card .image img {
     width: 80%; 
    /* height: 100%; */
    /* width: 100px; */
    object-fit: contain;
}

.about-dsa-section .dsa-card .content {
    
    width: 70%;
}

.about-dsa-section .dsa-card .content .name {
    font-weight: bolder;
    font-family: "bodyfontbold" !important;
    margin-bottom: 3px !important;
    font-size: 1rem;
    color: var(--theme-color);
}
.about-dsa-section .dsa-card .content p{
    font-size: .7rem;
}
.about-dsa-section .dsa-card::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 2px;
    background-color: #000000;
}
.about-dsa-section .last-dsa-card:last-child::after{
    display: none;
}
@media (max-width:992px) {
    .about-dsa-section .col-md-6.col-lg-3{
        margin-bottom: 4rem;
    }
    .about-dsa-section .dsa-card::after{
        right: 0;
        left: 50%;
        top: initial;
        bottom: -25px;
        transform: translateX(-50%) rotate(90deg);
    }
    .about-dsa-section .dsa-card .count {
        left: 0;
    }
}