.new-articles-section h2{
    font-size: 2rem;
}
.new-articles-section img{
    border-radius: 10px;
    height: 349px;
    object-fit:  cover;
    width: 100%;
    margin-top: 1rem;
    object-position: top;
     
}
@media (max-width:992px) {
    .new-articles-section h2{
        font-size: 1.5rem;
        margin-bottom: 2rem !important;
    }
}