.article-detail-section .article-card {
    /* display: flex; */
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--font-light);
    margin-bottom: 2rem;
}

.article-detail-section .article-card .image {
    width: 100%;
    margin-right: 2rem;
}

.article-detail-section .article-card .image img {
    aspect-ratio: 1/1;
    width: 100%;
    /* border-radius: 50%; */
    object-fit: cover;
}

.article-detail-section .article-card .name {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: var(--font-dark);
    margin-top: 2rem;
}

.article-detail-section .date .box {
    display: flex;
    margin-bottom: 1rem;
}

.article-detail-section .date .box .left {
    width: 50%;
    font-family: "bodyfontbold" !important;
    text-transform: capitalize;
    font-size: 1.5rem;
}
.article-detail-section .date .box p{
    font-size: 1.2rem;
}
.article-detail-section .date .box ul {
    display: flex;
    gap: 0 10px;
}
.article-detail-section .date .box ul svg{
    transition: .3s;
    font-size: 1.4rem;
}
.article-detail-section .date .box ul svg:hover{
    color: var(--theme-color);
}

.article-detail-section b.d-block {
    text-transform: capitalize;
}
.article-detail-section .scroll-section{    
    max-height: 90vh;
    padding-right: 1rem;
    overflow-y: auto;
}