.current-affairs-section .left-box,
.current-affairs-section .center-box .top-section,
.current-affairs-section .center-box .bottom-vido-section,
.current-affairs-section .right-box .top-section {
    position: relative;
    height: 100%;
}

.current-affairs-section .main-headin-box p {
    width: 50%;
}

.current-affairs-section .center-box {
    /* height: 100%; */
}

/* .current-affairs-section .left-box img, */
/* .current-affairs-section .center-box .top-section img,
.current-affairs-section .center-box .bottom-vido-section img,
.current-affairs-section .right-box .top-section img{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    } */
.current-affairs-section .center-box .top-section img,
.current-affairs-section .left-box img {
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.current-affairs-section .left-box .bottom-text {
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--white-color);
    padding: 5px 20px 10px 0;
    border-radius: 0 20px 0 0;
}
.current-affairs-section .right-box .top-section .content span,
.current-affairs-section .left-box .bottom-text span {
    font-size: .9rem;
    color: #636669;
}

.current-affairs-section .left-box .bottom-text p {
    font-size: 1.5rem;
    font-weight: 500;
}

.current-affairs-section .center-box .top-section img {
    aspect-ratio: 1/1;
    width: 100%;
    height: 400px;
}

.current-affairs-section .center-box .top-section::before{
    content: "";
    position: absolute;
    bottom: 3.5rem;
    left: 0;
    width: 100%;
    height: 2px;
    background: #636669;
}
.current-affairs-section .center-box .top-section p {
    /* position: absolute;
    top: 2rem; */
    /* left: 0; */
    margin-top: 2rem;
    padding: 10px;
    font-size: 1.3rem;
    padding-right: 5px;
    font-weight: 500;
}

.current-affairs-section .center-box .top-section .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.current-affairs-section .center-box .top-section .btn-box {
    background-color: var(--white-color);
    padding: 10px;
    border-radius: 0 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-affairs-section .center-box .top-section .btn-box a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    color: var(--white-color) !important;
    background-color: var(--main-color-two);
    padding: 10px;
    border-radius: 50%;
    transform: rotate(-30deg);
}
.current-affairs-section .center-box .bottom-vido-section{
    background-color: var(--main-color-two);
    border-radius: 20px;
    overflow: hidden;
    margin-top: 1.5rem;
}
.current-affairs-section .right-box {
    height: 100%;
}
.current-affairs-section .right-box .top-section{
    height: 85%;
}
.current-affairs-section .right-box .top-section img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.current-affairs-section .right-box .top-section .content{
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
}

.current-affairs-section .right-box .view-all-btn{
    padding: 15px 20px;
    background: var(--main-color-two);
    border-radius: 30px;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
}